<launch>
  <include file="/opt/ros/indigo/share/turtlebot_bringup/launch/minimal.launch" />

  <include file="/opt/ros/indigo/share/usb_cam/launch/usb_cam-test.launch" name="usb">
	<param name="video_device" value="/dev/video1" />
  </include>

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="/home/kyuhas/catkin_ws/src/final_project/params/8403.lm"/>
    <param name="dict" value="/home/kyuhas/catkin_ws/src/final_project/params/8403.dic"/>
  </node>

  <node name="pocketsphinx_gameCommands" pkg="final_project" type="pocketsphinx_gameCommands.py" />

  <node name="goalie" pkg="final_project" type="goalie_robot" />

</launch>
